/* Base Styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,500;10..48,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* Root Elements */
:root {
    --background-color: linear-gradient(45deg, #45008270 70%, #45008270);
    --nav-color: rgba(26, 2, 54, 0.74);
    --nav-hover: rgba(124, 10, 255, 0.79);
    --name-color: rgba(9, 1, 18, 0.69);
    --font-color: rgba(7, 0, 15, 0.54);
}

/* Background Styling */
body { 
    background: var(--background-color);
}



/* Navigation Bar */
.container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
}

.topbar, .top {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: var(--nav-color);
    text-decoration: none;
}

.topbar:hover {
    color: var(--nav-hover);
    cursor: pointer;
}

/* Home Section */
.home {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-family: 'Bricolage Grotesque', sans-serif;
    letter-spacing: 6px;
    margin: 0 auto;
    color: var(--name-color);
    margin: 1rem auto 0.2rem auto;
}

.meimg {
    border: 1px solid black;
    border-radius: 5px;
}

.dob{
    margin: 0 auto;
    font-size: 0.8rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.jobtitle {
    font-size: 0.9rem;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
}

/* About Section */
.about_text {
    max-width: 60ch;
    text-align: center;
    margin: 1rem auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}

/* Hobbie Section */
.hobbies, .bjj, .snowboarding {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies {
    margin-top: 2rem;
}

/* Generic Font Settings */
.title {
    font-family: 'Bricolage Grotesque', sans-serif;
    letter-spacing: 4px;
    color: var(--name-color);
    font-size: 1.8rem;
    text-align: center;
}

.subhead {
    font-size: 1.3rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: var(--font-color);
    margin: 0.5rem auto 0 auto;
    letter-spacing: 2px;
    text-align: center;
}


.bjjimg {
    margin: 0 auto 0.5rem auto;
    border: 2px solid black;
    border-radius: 5px;
}

.pclass {
    max-width: 60ch;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    margin: 0.5rem auto;
}

.stitle {
    font-size: 1.3rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: var(--font-color);
    margin: 0.5rem auto 0 auto;
    letter-spacing: 2px;
}

/* My Interests */
.tinterests {
    margin: 1rem auto 0 auto;
}

/* Social Media Links */
.socialbar, .ulsocial {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.bttmbar {
    margin: 2rem  1rem 2rem 1rem;
    align-items: baseline;
    opacity: 60%;
}